<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home_bp.home') }}"
      ><img
        src="{{ url_for('static', filename='img/ccc_logo.png') }}"
        alt="logo"
        width="100"
        height="100"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('home_bp.home') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Scorecards</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Statistics
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="">Batting</a>
            </li>
            <li>
              <a class="dropdown-item" href="}">Bowling</a>
            </li>
            <li>
              <a class="dropdown-item" href="">Fielding</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="">Individual</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Accomplishments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a href="{{ url_for('auth_bp.login') }}" class="btn btn-outline-primary"
          >Login</a
        >
        <!-- <button
          class="btn btn-outline-success"
          type="submit"
          
        >
          Login
        </button> -->
      </form>
    </div>
  </div>
</nav>
